
.popout-bg{
    position: fixed;
    z-index: 199;
    bottom:0;
    left:0;
    width:100vw;
    height:100vh;
}

.popout-fixed{
    position: fixed;
    margin: auto;
    z-index: 200;
}
.popout{
    z-index: 200;
	display: inline-block;
    padding:3px;
    background-color: var(--window-bg-color);
  -webkit-box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
    box-shadow: 0 0px 5px rgb(0 0 0 / 50%);
}

.popout-bg-col{
    background-color: rgba(0, 0, 0, 0.397);
}