

.works{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  height: 100%;
  box-sizing: border-box;
}

.works-window{
    height: 100vh;
  overflow-y: scroll;
}

.works-window-container{
}